<mat-card class="card">
  <h3>Image Info</h3>
  <mat-card-actions style="width:100%; display: flex; justify-content: left; margin-left: 0px;">
    <button mat-button style="background-color: #f5f5f5;" (click)="openDialog()">Deploy container</button>
  </mat-card-actions>
  <mat-card-content>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="table-layout: fixed; width:100%;">
      <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Name: </td>
        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Tags: </td>
        <td class="mdl-data-table__cell--non-numeric">{{tags}}</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Id: </td>
        <td class="mdl-data-table__cell--non-numeric">{{id}}</td>
      </tr>
      </tbody>
    </table>

  </mat-card-content>

</mat-card>

<mat-card class="card">
  <mat-card-content>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="table-layout: fixed; width:100%;" >
        <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Exposed ports: </td>
          <td class="mdl-data-table__cell--non-numeric">{{exposedPorts}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Author: </td>
          <td class="mdl-data-table__cell--non-numeric">{{author}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Os: </td>
          <td class="mdl-data-table__cell--non-numeric">{{os}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Architecture: </td>
          <td class="mdl-data-table__cell--non-numeric">{{architecture}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Created: </td>
          <td class="mdl-data-table__cell--non-numeric">{{created | timeAgo}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">CMD: </td>
          <td class="mdl-data-table__cell--non-numeric" style="overflow:hidden; ">{{cmd}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Working Dir: </td>
          <td class="mdl-data-table__cell--non-numeric">{{workingDir}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Environment Variables:: </td>
          <td class="mdl-data-table__cell--non-numeric">
            <ul>
              <li *ngFor="let i of environment" style="list-style: none; word-wrap: break-word;">{{i}}<br><br></li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>

  </mat-card-content>
</mat-card>
